../../.DS_Store
../../.Trash
../../.config/
../../.local/
../../.cache/
../../Applications/
../../Desktop/
../../Documents/
../../Library/
../../Movies/
../../Music/
../../Pictures/
../../Public/
../../test/
../../testrepo/
../../firstAPPdeploy/
../../kranthioldgithubdata/
../../language_transliterate_local/
../../langugae_transliterate/

